<div class="setting dropdown" *ngIf="(isAuth$ | async)">
  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-three-dots dropdown-toggle"
    viewBox="0 0 16 16" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <path
      d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
  </svg>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li class="dropdown-item cursor-pointer" (click)="onDetailPost(post)">Detail</li>
    <li class="dropdown-item cursor-pointer" (click)="onDeletePost(post._id)" *ngIf="post.userId === authData.getCurrentUserId()">
      Delete
    </li>
  </ul>
</div>
