// Notification
.notification {
  cursor: pointer;
    .mat-icon {
        font-size: 30px;
        color: #0000001f;
        vertical-align: bottom;
    }

    .messages .profile .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        img {
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
    }

    .messages .choice {
        .bi-check,
        .bi-x {
            font-size: 30px;
        }
    }
}

//  Avatar
.notif-menu {
    top: 42px;
    left: -320px;
}
.profil-menu,
.power-button-menu {
    top: 50px;
    left: -105px;
}

.avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

// Button Power
.bi-power {
    -webkit-appearance: none;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    cursor: pointer;
}

.bi-power:after {
    color: #7a7a7a;
    font-size: 70px;
}

.bi-power:active {
    box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12),
}

.power-active {
    color: #15e38a;
}

// Dropdown
.dropdown-menu li,
.dropdown-menu a {
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}
