<!-- Main Space Setting -->
<div class="container-fluid">
    <div class="row">
        <!-- Left Sidebar Setting -->
        <div class="main-space-setting col-12 d-flex p-0">
            <div class="col-3 bg-dark bg-gradient">
                <app-sidebar-setting></app-sidebar-setting>
            </div>
            <!-- View -->
            <div class="col-6">
                <app-view-setting></app-view-setting>
            </div>
            <!-- Right Sidebar Profile -->
            <div class="col-3 bg-dark bg-gradient">
                <app-sidebar-profile></app-sidebar-profile>
            </div>
        </div>
    </div>
</div>