<!-- Main Register Space -->
<div class="register_space row w-100 m-0">
  <div class="col-12">
    <!-- Titles -->
    <h1 class="text-center text-white text-md-start mt-5 ps-md-5 ">Infinity</h1>
    <h3 class="text-center text-white text-md-start ps-md-5">To a infinite space</h3>
    <!-- Buttons -->
    <button class="text-white ms-md-5 mt-2" [routerLink]="['/main-space-story']">
      <span *ngIf="(isAuth$|async) ? changeBtnContent('Let\'s Go') : changeBtnContent('Preview')">{{btnContent}}</span>
    </button>
  </div>
</div>
