// Reset Form
.stories-options {
    span {
        cursor: pointer;
    }
    .bi-arrow-counterclockwise {
        font-size: 20px;
    }
}

// Title
.category-stories {
    font-size: .8rem;
    resize: none;
    border: none;
    outline: none;
}

// Preview Image
#post-preview {
    width: 450px;
    height: 300px;
}

#post-preview-image {
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    border: 1px dashed gray;
}

.stories-action {
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  .btn-upload {
    text-align: start;
  }

  label {
    cursor: pointer;
  }

  .text-custom {
    color: #174AB3;
  }
}

