<!-- Main Profile Space (Current User) -->
<div class="main-space-profile">
  <!-- My Current Profile -->
  <div class="background_defaultCover w-100">
    <img class="w-100 h-100" src="../../../assets/images/CoverProfile.png" alt="Cover">
    <!-- Pseudo -->
    <div class="pseudo-user">
      <span>{{ authData.getCurrentUsername() }}</span>
    </div>
    <!-- Avatar -->
    <div class="avatar-user">
      <img class="w-100 h-100" [src]="authData.getCurrentAvatar()" alt="Avatar">
    </div>
  </div>

  <!-- Profile Routes -->
  <div class="tabSpace w-100">
    <div class="section d-flex justify-content-between align-items-center h-100">
      <ul class="col-6 d-flex justify-content-start align-items-center m-0">
        <li class="me-5" *ngFor="let route of profileRoutes">
          <a class="nav-link" routerLinkActive="activeTab" [routerLinkActiveOptions]="{exact:
                        true}" [routerLink]="[route.routePath]">
            {{route.profileName}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Stories -->
  <div class="container-fluid" *ngIf="!router.url.includes('profile-friend-list')">
    <div class="row">
      <div class="col-12">
        <app-stories></app-stories>
      </div>
    </div>
  </div>

  <!-- Profile Tab -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
