<!-- Register Modal -->
<div class="row h-100 align-items-center">
  <div class="register col-12 m-auto p-0">
    <i class="bi bi-arrow-left-circle-fill" (click)="closeModal()"></i>
    <!-- Slide Title-->
    <div class="slide mx-5 d-flex">
      <h3 class="col-6 text-center p-2" (click)="tosignIn()" [ngClass]="{'text-white': stateRegister.titleIns}">
        Inscription
      </h3>
      <div class="layer h-100 col-6" [@sectionState]="stateRegister.titleAnimation"></div>
      <h3 class="col-6 text-center p-2" (click)="tologIn()" [ngClass]="{'text-white': stateRegister.titleCon}">
        Connexion
      </h3>
    </div>
    <!-- Slide Body -->
    <div class="form d-flex" [@registerState]="stateRegister.bodyAnimation">
      <div class="col-12">
        <app-signin></app-signin>
      </div>
      <div class="col-12">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>
