// Register Modal
.register {
    position: relative;
    min-height: 71vh;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 20px;
    z-index: 10;
    overflow: hidden;
}

// Back
.bi-arrow-left-circle-fill {
    position: absolute;
    top: 0.22rem;
    left: 0;
    font-size: 30px;
    color: #174AB3;
    border-radius: 50%;
    cursor: pointer;
}

// Slide Title
.slide {
    box-shadow: 0px 2px 4px -1px #174AB3;
    border-radius: 20px;
    position: relative;
}

.slide h3 {
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    z-index: 999;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg,#174AB3,#4432B2,#212529);
    border-radius: 20px;
    z-index: 1;
}

::ng-deep .mat-dialog-container {
    border-radius: 20px !important;
}
