<!-- Main Space Story -->
<div class="main-space-story px-2">
  <div class="header col-xl-12 pt-2">
    <!-- Add Post -->
    <div class="col-sm-6 col-lg-2 mb-4 ms-auto me-2" *ngIf="(isAuth$ | async)">
      <app-add-post-button></app-add-post-button>
    </div>
  </div>

  <div class="row w-100">
    <div class="col-12">
      <!-- Masonry -->
      <ngx-masonry [ordered]="true" class="w-100">
        <div ngxMasonryItem *ngFor="let post of (posts$|async); let i = index" class="col-4">
          <div class="cards p-1">
            <div class="cards-header d-flex justify-content-between align-items-center p-2">
              <!-- Avatar -->
              <app-avatar [post]="post"></app-avatar>
              <!-- Setting -->
              <app-setting [post]="post"></app-setting>
            </div>
            <!-- Body (Image) -->
            <div class="cards-body" (click)="onViewPost(post)">
              <img [src]="post.image" class="w-100 h-100">
            </div>
            <!-- Footer (Likes) -->
            <div class="cards-footer" *ngIf="(isAuth$ | async)">
              <i class="bi bi-heart-fill" (click)="onLikePost(post)"
                [ngClass]="post.likes.includes(userId) ? 'bi-heart-fill-active' : 'bi-heart-fill-no-active'">
              </i>
            </div>
          </div>
        </div>
      </ngx-masonry>

    </div>
  </div>
</div>
