@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap");

// Feed
.header {
  position: relative;
  height: 100px;
  background: url(../../../assets/images/Wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

// Add Post
.addPost {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
}

.containerAdd span {
  font-family: "Pacifico", cursive;
  font-size: 20px;
}

.bi-plus-circle-fill {
  color: #5783fb;
  transition: all 0.5s;
}

.addPost:hover .bi-plus-circle-fill {
  color: #e74573;
  transform: rotateZ(90deg);
}

// Post
.cards {
  position: relative;
  box-sizing: 5px;

  // Cards Header
  .cards-header {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.375);
    opacity: 0;
    transition: all 0.3s;
  }

  // Cards Body
  .cards-body {
    border-radius: 5px;
    cursor: pointer;

    img {
      border-radius: 5px;
    }
  }

  // Cards-Footer
  .cards-footer {
    position: absolute;
    bottom: 5px;
    right: 1rem;
    opacity: 0;
    transition: all 0.3s;

    .bi-heart-fill-no-active {
      font-size: 30px;
      color: #fff;
      cursor: pointer;
    }
    .bi-heart-fill-active {
      font-size: 30px;
      color: rgba(255, 0, 0, 0.6);
      cursor: pointer;
    }
  }
}

.cards:hover .cards-header,
.cards:hover .cards-footer {
  opacity: 1;
}
